Repository ARM-software/optimized-routines, changes with the labels that .github/labeler.yml gives for each.
All labels: string, networking, math, fp, build-system

math/aarch64/advsimd: Vectorise expm1f special case
  math/aarch64/advsimd/exp10m1f.c
  math/aarch64/advsimd/exp2m1f.c
  math/aarch64/advsimd/expm1f.c
  math/aarch64/advsimd/v_expf_special_inline.h
Labels: math

math/aarch64/advsimd: Use new inline header for special case in expf, exp2f and exp10f.
  math/aarch64/advsimd/exp10f.c
  math/aarch64/advsimd/exp2f.c
  math/aarch64/advsimd/expf.c
Labels: math

v26.01 release
  README.md
Labels: none

math/aarch64/advsimd: Vectorize special cases for hypotf
  math/aarch64/advsimd/hypotf.c
Labels: math

math/aarch64/advsimd: Vectorize special cases for hypot
  math/aarch64/advsimd/hypot.c
Labels: math

math/aarch64/advsimd: Vectorize special cases for asinh
  math/aarch64/advsimd/asinh.c
Labels: math

math/aarch64/advsimd: Vectorize special cases for acosh
  math/aarch64/advsimd/acosh.c
Labels: math

math/aarch64/advsimd: Add vectorised fallback for double precision sin/cos
  math/aarch64/advsimd/cos.c
  math/aarch64/advsimd/sin.c
  math/aarch64/advsimd/sincos.c
  math/aarch64/advsimd/v_math.h
  math/aarch64/advsimd/v_trig_fallback.h
  math/tools/trig_fallback.sollya
Labels: math

math/aarch64/advsimd: Updated sin/cos to use lanewise operations
  math/aarch64/advsimd/cos.c
  math/aarch64/advsimd/sin.c
Labels: math

math/aarch64/advsimd: Vectorize special cases for atanh
  math/aarch64/advsimd/atanh.c
Labels: math

math/aarch64/sve: Vectorize special cases for hypotf and hypot
  math/aarch64/sve/hypot.c
  math/aarch64/sve/hypotf.c
Labels: math

math/aarch64/sve: Vectorize special cases for asinh
  math/aarch64/sve/asinh.c
Labels: math

math/aarch64/sve: Vectorize special cases for acosh
  math/aarch64/sve/acosh.c
Labels: math

math/aarch64/sve: Vectorize special cases for atanh
  math/aarch64/sve/atanh.c
Labels: math

math/aarch64/advsimd: Move special case to helper file for all expB/expBm1.
  math/aarch64/advsimd/exp.c
  math/aarch64/advsimd/exp10.c
  math/aarch64/advsimd/exp10m1.c
  math/aarch64/advsimd/exp2.c
  math/aarch64/advsimd/exp2m1.c
  math/aarch64/advsimd/expm1.c
  math/aarch64/advsimd/v_exp_special_case_inline.h
Labels: math

math/aarch64/advsimd: Vectorise coshf/sinhf/tanhf special case
  math/aarch64/advsimd/coshf.c
  math/aarch64/advsimd/sinhf.c
  math/aarch64/advsimd/tanhf.c
Labels: math

math/aarch64/sve: Use new coshf special case in cosh and sinh
  math/aarch64/sve/cosh.c
  math/aarch64/sve/sinh.c
Labels: math

math/aarch64/advsimd: Vectorise cosh/sinh/tanh special case
  math/aarch64/advsimd/cosh.c
  math/aarch64/advsimd/sinh.c
  math/aarch64/advsimd/tanh.c
Labels: math

math/aarch64/sve: Vectorise coshf/sinhf/tanhf special case
  math/aarch64/sve/coshf.c
  math/aarch64/sve/sinhf.c
  math/aarch64/sve/tanhf.c
Labels: math

math/aarch64/sve: Optimisations for exp, m1, f and m1f routines
  math/aarch64/sve/exp.c
  math/aarch64/sve/exp10.c
  math/aarch64/sve/exp10f.c
  math/aarch64/sve/exp10m1.c
  math/aarch64/sve/exp10m1f.c
  math/aarch64/sve/exp2.c
  math/aarch64/sve/exp2f.c
  math/aarch64/sve/exp2m1.c
  math/aarch64/sve/exp2m1f.c
  math/aarch64/sve/expf.c
  math/aarch64/sve/expm1.c
  math/aarch64/sve/expm1f.c
  math/aarch64/sve/sv_exp_special_inline.h
  math/aarch64/sve/sv_expf_special_inline.h
Labels: math

math/aarch64/sve: Vectorise logf/log2f/log10f special case
  math/aarch64/sve/log10f.c
  math/aarch64/sve/log2f.c
  math/aarch64/sve/logf.c
Labels: math

math/aarch64/sve: Vectorise logB special case
  math/aarch64/sve/log.c
  math/aarch64/sve/log10.c
  math/aarch64/sve/log2.c
Labels: math

math/aarch64/advsimd: Vectorize special cases for asinhf & acoshf
  math/aarch64/advsimd/acoshf.c
  math/aarch64/advsimd/asinhf.c
Labels: math

string: Improve SVE memset when len is 16 or 64
  string/aarch64/memset-sve.S
Labels: string

Fix spacing of csel instruction in memset-sve.S
  string/aarch64/memset-sve.S
Labels: string

Remove csel instruction from memset
  string/aarch64/memset-sve.S
Labels: string

Update comment for byte setting range in memset-sve.S
  string/aarch64/memset-sve.S
Labels: string

Swtich back to original sequence, using #48 as imm
  string/aarch64/memset-sve.S
Labels: string

Revert branch jump on 16B
  string/aarch64/memset-sve.S
Labels: string

string: Improve SVE memset when len is 64 (#92)
  string/aarch64/memset-sve.S
Labels: string

string: Improve memset when len is 64
  string/aarch64/memset.S
Labels: string

Bug fix for AOR expf sve
  math/aarch64/sve/expf.c
Labels: math

math/test: Minor fix in ulp manual
  math/test/ulp.c
Labels: math

math: make ulp test name more consistent
  math/aarch64/advsimd/sincos.c
  math/aarch64/advsimd/sincosf.c
  math/aarch64/advsimd/sincospi.c
  math/aarch64/advsimd/sincospif.c
  math/aarch64/sve/sincos.c
  math/aarch64/sve/sincosf.c
  math/test/ulp_funcs.h
Labels: math

math/aarch64/advsimd: Fix sin and cos for big-endian
  math/aarch64/advsimd/v_trig_fallback.h
Labels: math

math: move common pow(f) helpers to header
  math/aarch64/advsimd/finite_pow.h
  math/aarch64/advsimd/pow.c
  math/aarch64/advsimd/powf.c
  math/aarch64/advsimd/powr.c
  math/aarch64/advsimd/v_powrf_inline.h
  math/aarch64/sve/powr.c
  math/aarch64/sve/sv_pow_inline.h
  math/aarch64/sve/sv_powf_inline.h
  math/pow.c
  math/pow_common.h
  math/powf.c
  math/powf_common.h
Labels: math

math/aarch64/advsimd: Fix AdvSIMD sincos fallback
  math/aarch64/advsimd/sincos.c
  math/aarch64/advsimd/v_trig_fallback.h
Labels: math

math/aarch64/sve: log2p1 fix file header typo
  math/aarch64/sve/log2p1.c
Labels: math

math/aarch64/sve: Vectorise special case for atanhf
  math/aarch64/sve/atanhf.c
Labels: math

math/aarch64/sve: Vectorise special case for asinhf
  math/aarch64/sve/asinhf.c
Labels: math

.github/labeler.yml:

string:
  - changed-files:
    - any-glob-to-any-file: string/**

networking:
  - changed-files:
    - any-glob-to-any-file: networking/**

math:
  - changed-files:
    - any-glob-to-any-file: math/**

fp:
  - changed-files:
    - any-glob-to-any-file: fp/**

build-system:
  - changed-files:
    - any-glob-to-any-file: ['Makefile', 'config.mk.dist', '**/*.mk']
