Repository ARM-software/optimized-routines, changes with the labels that .github/labeler.yml gives for each.
All labels: string, networking, math, fp, build-system

aor: Fix CI master badge
  README.md
Labels: none

math/aarch64/advsimd: Implement exp2m1
  math/aarch64/advsimd/exp2m1.c
  math/include/mathlib.h
  math/test/c23_references.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
Labels: math

math/aarch64/advsimd: Fix exp2m1
  math/aarch64/advsimd/exp2m1.c
Labels: math

math/aarch64: Fix AdvSIMD and SVE exp2m1f
  math/aarch64/advsimd/exp2m1f.c
  math/aarch64/sve/exp2m1f.c
Labels: math

math/aarch64: Implement SVE exp2m1
  math/aarch64/sve/exp2m1.c
  math/include/mathlib.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
  math/tools/exp2m1.sollya
Labels: math

math/aarch64: Implement SVE exp10m1
  math/aarch64/sve/exp10m1.c
  math/include/mathlib.h
  math/test/c23_references.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
  math/tools/exp10m1.sollya
Labels: math

math/aarch64: Implement AdvSIMD exp10m1
  math/aarch64/advsimd/exp10m1.c
  math/include/mathlib.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
  math/tools/exp10m1.sollya
Labels: math

math/aarch64: Implement AdvSIMD exp10m1f
  math/aarch64/advsimd/exp10m1f.c
  math/include/mathlib.h
  math/test/c23_references.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
  math/tools/exp10m1f.sollya
Labels: math

math/aarch64: Implement SVE exp10m1f
  math/aarch64/sve/exp10m1f.c
  math/include/mathlib.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
Labels: math

math/test: Fix checks with MPFR as reference
  config.mk.dist
  math/test/ulp_funcs.h
Labels: math, build-system

math/aarch64: Improve consistency across variants of exp2m1(f) and exp10m1(f).
  math/aarch64/advsimd/exp10m1.c
  math/aarch64/advsimd/exp10m1f.c
  math/aarch64/advsimd/exp2m1.c
  math/aarch64/advsimd/exp2m1f.c
  math/aarch64/sve/exp10m1.c
  math/aarch64/sve/exp10m1f.c
  math/aarch64/sve/exp2m1.c
  math/aarch64/sve/exp2m1f.c
  math/test/ulp_wrappers.h
Labels: math

math/aarch64/advsimd: Implements log2p1f.
  math/aarch64/advsimd/log2p1f.c
  math/include/mathlib.h
  math/test/c23_references.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
  math/tools/log2p1f.sollya
Labels: math

config: Enable -Werror
  config.mk.dist
  math/test/mathbench_wrappers.h
  math/test/mathtest.c
Labels: math, build-system

config: Enable -Werror
  config.mk.dist
  math/test/c23_references.h
Labels: math, build-system

config: Enable -Werror
  config.mk.dist
Labels: build-system

config: Enable -Werror
  config.mk.dist
  math/test/c23_references.h
  math/test/mathbench_wrappers.h
  math/test/mathtest.c
Labels: math, build-system

math/test: Fix MPFR wrapper for trigpis.
  math/test/ulp_wrappers.h
Labels: math

math/test: Improve libm and MPFR wrappers.
  math/test/c23_references.h
  math/test/ulp_wrappers.h
Labels: math

fp: double-precision multiplication.
  fp/Dir.mk
  fp/at32/dmul.S
  fp/common/dnan2.c
  fp/common/dnorm2.c
  fp/common/dunder.c
  fp/test/test-dmul.c
Labels: fp, build-system

fp: improve checking in test-fcmp.
  fp/test/test-fcmp.c
Labels: fp

f2lz, l2f: improved replacement for RSC in Thumb.
  fp/at32/f2lz.S
  fp/at32/l2f.S
Labels: fp

math/aarch64/advsimd: Minor codegen improvement log2p1f
  math/aarch64/advsimd/log2p1f.c
Labels: math

Tidy up install target
  .github/workflows/tests.yml
  Makefile
  README.md
  math/Dir.mk
  networking/Dir.mk
  string/Dir.mk
Labels: string, networking, math, build-system

math/: Minor fixups in README
  math/README.md
Labels: math

Fix link in greetings
  .github/workflows/greetings.yml
Labels: none

asmdefs/aarch64: Make the definitions portable to COFF
  string/aarch64/asmdefs.h
Labels: string

aor: Fix labeller permissions
  .github/workflows/labeler.yml
Labels: none

aor: Enable CI for all pull requests
  .github/workflows/tests.yml
Labels: none

aor: drop branch filters entirely
  .github/workflows/tests.yml
Labels: none

aor: turn off SVE and EXP10 test on Windows
  config.mk.dist
Labels: build-system

aor: Require winpthreads for timers
  .github/workflows/tests.yml
  config.mk.dist
Labels: build-system

aor: fix exports on string functions on Windows
  string/aarch64/asmdefs.h
Labels: string

aor: Include arm_sve.h before using an SVE type
  math/test/mathbench.c
Labels: math

aor: Enable Windows CI with one compiler first
  .github/workflows/tests.yml
  Makefile
Labels: build-system

aor: Require winpthreads for timers
  .github/workflows/tests.yml
  config.mk.dist
Labels: build-system

aor: fix exports on string functions on Windows
  string/aarch64/asmdefs.h
Labels: string

aor: Enable Windows CI with one compiler first
  .github/workflows/tests.yml
  Makefile
Labels: build-system

aor: turn off SVE and EXP10 test on Windows
  config.mk.dist
Labels: build-system

aor: Include arm_sve.h before using an SVE type
  math/test/mathbench.c
Labels: math

v25.07 release
  README.md
Labels: none

.github/labeler.yml:

string:
  - changed-files:
    - any-glob-to-any-file: string/**

networking:
  - changed-files:
    - any-glob-to-any-file: networking/**

math:
  - changed-files:
    - any-glob-to-any-file: math/**

fp:
  - changed-files:
    - any-glob-to-any-file: fp/**

build-system:
  - changed-files:
    - any-glob-to-any-file: ['Makefile', 'config.mk.dist', '**/*.mk']
