Repository ARM-software/optimized-routines, changes with the owners that CODEOWNERS names for each.
All owners: @TamarChristinaArm, @statham-arm, @blapie, @joeramsay, @WonderfulVoid, @Wilco1

math/aarch64/sve: Use shorter buffers in sv_call if VL is fixed
  math/aarch64/sve/sv_math.h
Owners: @TamarChristinaArm

math/aarch64/advsimd: Optimise log1pf
  math/aarch64/advsimd/log1pf.c
Owners: @TamarChristinaArm

math/aarch64/advsimd: Optimise logf
  math/aarch64/advsimd/logf.c
Owners: @TamarChristinaArm

math/aarch64/advsimd: Optimise log2f
  math/aarch64/advsimd/log2f.c
Owners: @TamarChristinaArm

math/aarch64/advsimd: Optimise log10f
  math/aarch64/advsimd/log10f.c
Owners: @TamarChristinaArm

math: Fix pow special case
  math/pow.c
  math/test/testcases/directed/pow.tst
Owners: @blapie, @joeramsay, @TamarChristinaArm

math/aarch64: Add return-by-value AdvSIMD and SVE sincospi(f).
  math/aarch64/advsimd/cexpipi.c
  math/aarch64/advsimd/cexpipif.c
  math/aarch64/advsimd/sincospi.c
  math/aarch64/advsimd/sincospif.c
  math/aarch64/advsimd/v_sincospi_common.h
  math/aarch64/advsimd/v_sincospif_common.h
  math/aarch64/sve/cexpipi.c
  math/aarch64/sve/cexpipif.c
  math/aarch64/sve/sincospi.c
  math/aarch64/sve/sincospif.c
  math/aarch64/sve/sv_sincospi_common.h
  math/aarch64/sve/sv_sincospif_common.h
  math/include/mathlib.h
  math/test/mathbench_funcs.h
  math/test/mathbench_wrappers.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

math/aarch64: Add return-by-value AdvSIMD and SVE modf(f).
  math/aarch64/advsimd/modf.c
  math/aarch64/advsimd/modff.c
  math/aarch64/advsimd/v_math.h
  math/aarch64/advsimd/v_modf_inline.h
  math/aarch64/advsimd/v_modff_inline.h
  math/aarch64/sve/modf.c
  math/aarch64/sve/modff.c
  math/aarch64/sve/sv_math.h
  math/aarch64/sve/sv_modf_inline.h
  math/aarch64/sve/sv_modff_inline.h
  math/include/mathlib.h
  math/test/mathbench_funcs.h
  math/test/mathbench_wrappers.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

math/aarch64: Split modf versions into separate sources.
  math/aarch64/advsimd/modf.c
  math/aarch64/advsimd/modf_stret.c
  math/aarch64/advsimd/modff.c
  math/aarch64/advsimd/modff_stret.c
  math/aarch64/sve/modf.c
  math/aarch64/sve/modf_stret.c
  math/aarch64/sve/modff.c
  math/aarch64/sve/modff_stret.c
Owners: @TamarChristinaArm

math/aarch64/advsimd: Implement powrf
  math/aarch64/advsimd/powf.c
  math/aarch64/advsimd/powrf.c
  math/aarch64/advsimd/v_powf_inline.h
  math/include/mathlib.h
  math/test/c23_references.h
  math/test/mathbench_funcs.h
  math/test/mathbench_wrappers.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

math/aarch64/advsimd: Vectorise pow(r)f special cases
  math/aarch64/advsimd/v_powf_inline.h
Owners: @TamarChristinaArm

math/aarch64/advsimd: Optimize pow(r)f.
  math/aarch64/advsimd/powf.c
  math/aarch64/advsimd/powrf.c
  math/aarch64/advsimd/v_powf_inline.h
  math/aarch64/advsimd/v_powrf_inline.h
Owners: @TamarChristinaArm

math/aarch64/sve: Remove braces in sv_call
  math/aarch64/sve/sv_math.h
Owners: @TamarChristinaArm

math: Remove float_t and double_t
  math/aarch64/advsimd/powf.c
  math/aarch64/experimental/exp_inline.h
  math/aarch64/experimental/log10_2u.c
  math/aarch64/sve/pow.c
  math/aarch64/sve/powf.c
  math/exp.c
  math/exp10.c
  math/exp2.c
  math/exp2f.c
  math/expf.c
  math/log.c
  math/log10f.c
  math/log2.c
  math/log2f.c
  math/logf.c
  math/math_config.h
  math/pow.c
  math/powf.c
Owners: @TamarChristinaArm, @blapie, @joeramsay

math/aarch64/advsimd: Optimise log1p
  math/aarch64/advsimd/log1p.c
Owners: @TamarChristinaArm

math/aarch64/advsimd: Optimise log
  math/aarch64/advsimd/log.c
Owners: @TamarChristinaArm

math/aarch64/advsimd: Optimise log2
  math/aarch64/advsimd/log2.c
Owners: @TamarChristinaArm

math/aarch64/advsimd: Optimise log10
  math/aarch64/advsimd/log10.c
Owners: @TamarChristinaArm

math/aarch64/sve: Implement powrf
  math/aarch64/sve/powf.c
  math/aarch64/sve/powrf.c
  math/aarch64/sve/sv_powf_inline.h
  math/include/mathlib.h
  math/test/mathbench_funcs.h
  math/test/mathbench_wrappers.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

math/aarch64/sve: Improve SVE pow, powf and powrf.
  math/aarch64/sve/pow.c
  math/aarch64/sve/powf.c
  math/aarch64/sve/powrf.c
  math/aarch64/sve/sv_powf_inline.h
Owners: @TamarChristinaArm

math/aarch64/sve: refactor pow helpers
  math/aarch64/sve/pow.c
  math/aarch64/sve/sv_pow_inline.h
Owners: @TamarChristinaArm

math/aarch64/sve: add powr implementation
  math/aarch64/sve/powr.c
  math/include/mathlib.h
  math/test/c23_references.h
  math/test/mathbench_funcs.h
  math/test/mathbench_wrappers.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

math/aarch64/advsimd: Optimise acoshf
  math/aarch64/advsimd/acoshf.c
Owners: @TamarChristinaArm

math/aarch64/advsimd: Optimise asinhf
  math/aarch64/advsimd/asinhf.c
Owners: @TamarChristinaArm

math/aarch64/advsimd: Optimise atanhf
  math/aarch64/advsimd/atanhf.c
Owners: @TamarChristinaArm

math/aarch64/advsimd: Improve pow algorithm
  math/aarch64/advsimd/finite_pow.h
  math/aarch64/advsimd/pow.c
Owners: @TamarChristinaArm

math/aarch64/advsimd: Move pow helpers to inline header
  math/aarch64/advsimd/pow.c
  math/aarch64/advsimd/v_pow_inline.h
Owners: @TamarChristinaArm

math/aarch64/advsimd: Implement powr
  math/aarch64/advsimd/powr.c
  math/include/mathlib.h
  math/test/mathbench_funcs.h
  math/test/mathbench_wrappers.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

math/aarch64: Tidy up all vector powers.
  math/aarch64/advsimd/pow.c
  math/aarch64/advsimd/powf.c
  math/aarch64/advsimd/powr.c
  math/aarch64/advsimd/powrf.c
  math/aarch64/advsimd/v_pow_inline.h
  math/aarch64/sve/pow.c
  math/aarch64/sve/powf.c
  math/aarch64/sve/powr.c
  math/aarch64/sve/powrf.c
Owners: @TamarChristinaArm

bench: Fix typo in memset benchmark
  string/bench/memset.c
Owners: @TamarChristinaArm

math/test: Always provide MPFR helper for rsqrt
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

math/aarch64/experimental: Remove ldexp call from expm1/f
  math/aarch64/experimental/expm1_2u5.c
  math/aarch64/experimental/expm1f_1u6.c
  math/aarch64/experimental/tanh_3u.c
  math/aarch64/experimental/tanhf_2u6.c
Owners: @TamarChristinaArm

math/aarch64/sve: Vectorise expm1f special case
  math/aarch64/sve/expm1f.c
Owners: @TamarChristinaArm

math/aarch64/sve: Vectorise expf special case
  math/aarch64/sve/expf.c
  math/tools/expf.sollya
Owners: @TamarChristinaArm

math/aarch64/sve: Vectorise exp2f special case
  math/aarch64/sve/exp2f.c
Owners: @TamarChristinaArm

math/aarch64/sve: Vectorise exp10f special case
  math/aarch64/sve/exp10f.c
Owners: @TamarChristinaArm

math/aarch64: Fix vector powr(f) special cases
  math/aarch64/advsimd/powf.c
  math/aarch64/advsimd/powrf.c
  math/aarch64/sve/pow.c
  math/aarch64/sve/powf.c
  math/aarch64/sve/powr.c
  math/aarch64/sve/powrf.c
Owners: @TamarChristinaArm

math/aarch64/advsimd: Fix powr special cases
  math/aarch64/advsimd/finite_pow.h
  math/aarch64/advsimd/pow.c
  math/aarch64/advsimd/powr.c
  math/aarch64/advsimd/v_pow_inline.h
Owners: @TamarChristinaArm

math/aarch64: Fix x negative and y is special cases in powr(f).
  math/aarch64/advsimd/powr.c
  math/aarch64/advsimd/powrf.c
  math/aarch64/sve/powr.c
  math/aarch64/sve/powrf.c
Owners: @TamarChristinaArm

math/aarch64/advsimd: Vectorise expm1 special case
  math/aarch64/advsimd/expm1.c
Owners: @TamarChristinaArm

CODEOWNERS:

* @TamarChristinaArm
fp/* @statham-arm
math/* @blapie @joeramsay
networking/* @WonderfulVoid
string/* @Wilco1
