Repository ARM-software/optimized-routines, changes with the owners that CODEOWNERS names for each.
All owners: @TamarChristinaArm, @statham-arm, @blapie, @joeramsay, @WonderfulVoid, @Wilco1

asmdefs/aarch64: Make header compatible with Cygwin
  string/aarch64/asmdefs.h
Owners: @TamarChristinaArm

aor: Add support for cygwin/newlib
  string/aarch64/asmdefs.h
  string/test/memrchr.c
  string/test/stpcpy.c
  string/test/strchrnul.c
Owners: @TamarChristinaArm

aor: Add support for cygwin/newlib
  string/aarch64/asmdefs.h
  string/test/memrchr.c
  string/test/stpcpy.c
  string/test/strchrnul.c
Owners: @TamarChristinaArm

aarch64: use .cfi_negate_ra_state
  string/aarch64/asmdefs.h
Owners: @TamarChristinaArm

math/aarch64/sve: Implement log2p1f.
  math/aarch64/sve/log2p1f.c
  math/include/mathlib.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

aarch64: use .cfi_negate_ra_state
  string/aarch64/asmdefs.h
Owners: @TamarChristinaArm

fp: double-precision comparisons.
  fp/Dir.mk
  fp/armv6-m/dcmp.h
  fp/armv6-m/dcmp_bool_eq.S
  fp/armv6-m/dcmp_bool_ge.S
  fp/armv6-m/dcmp_bool_gt.S
  fp/armv6-m/dcmp_bool_le.S
  fp/armv6-m/dcmp_bool_lt.S
  fp/armv6-m/dcmp_bool_un.S
  fp/armv6-m/dcmp_flags.S
  fp/armv6-m/dcmp_flags_eq.S
  fp/armv6-m/dcmp_flags_rev.S
  fp/at32/dcmp.h
  fp/at32/dcmp_bool_eq.S
  fp/at32/dcmp_bool_ge.S
  fp/at32/dcmp_bool_gt.S
  fp/at32/dcmp_bool_le.S
  fp/at32/dcmp_bool_lt.S
  fp/at32/dcmp_bool_un.S
  fp/at32/dcmp_flags.S
  fp/at32/dcmp_flags_eq.S
  fp/at32/dcmp_flags_rev.S
  fp/test/test-dcmp.c
Owners: @statham-arm, @TamarChristinaArm

fp: double-precision addition and subtraction.
  fp/Dir.mk
  fp/at32/daddsub.S
  fp/test/test-daddsub.c
Owners: @statham-arm, @TamarChristinaArm

fp: conversions from double precision to integers.
  fp/Dir.mk
  fp/README.md
  fp/at32/d2iz.S
  fp/at32/d2lz.S
  fp/at32/d2uiz.S
  fp/at32/d2ulz.S
  fp/test/test-d2iz.c
  fp/test/test-d2lz.c
  fp/test/test-d2uiz.c
  fp/test/test-d2ulz.c
Owners: @statham-arm, @TamarChristinaArm

fp: double-precision division.
  fp/Dir.mk
  fp/at32/ddiv.S
  fp/aux/ddiv-diagnostics.c
  fp/aux/ddiv-prove.py
  fp/include/diagnostics.h
  fp/include/endian.h
  fp/test/test-ddiv.c
Owners: @statham-arm, @TamarChristinaArm

fp: conversions between single and double precision.
  fp/Dir.mk
  fp/README.md
  fp/at32/d2f.S
  fp/at32/f2d.S
  fp/test/test-d2f.c
  fp/test/test-f2d.c
Owners: @statham-arm, @TamarChristinaArm

fp: conversions from integers to double precision.
  fp/Dir.mk
  fp/at32/i2d.S
  fp/at32/l2d.S
  fp/at32/ui2d.S
  fp/at32/ul2d.S
  fp/test/test-i2d.c
  fp/test/test-l2d.c
  fp/test/test-ui2d.c
  fp/test/test-ul2d.c
Owners: @statham-arm, @TamarChristinaArm

fp: replace stub test-ui2f.c with a real one.
  fp/test/test-ui2f.c
Owners: @TamarChristinaArm

fp: rename the 'aux' subdir to avoid Windows issues.
  fp/Dir.mk
  fp/auxiliary/ddiv-diagnostics.c
  fp/auxiliary/ddiv-prove.py
Owners: @statham-arm, @TamarChristinaArm

math/aarch64/advsimd: Implement log2p1.
  math/aarch64/advsimd/log2p1.c
  math/include/mathlib.h
  math/test/c23_references.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
  math/tools/log2p1.sollya
Owners: @TamarChristinaArm

math/aarch64/sve: Implement log2p1.
  math/aarch64/sve/log2p1.c
  math/include/mathlib.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

fp: further build fixes for the GNU assembler.
  fp/README.md
  fp/at32/daddsub.S
  fp/at32/ddiv.S
  fp/at32/dmul.S
  fp/at32/faddsub.S
  fp/at32/fdiv.S
  fp/at32/fmul.S
  fp/at32/i2f.S
Owners: @statham-arm, @TamarChristinaArm

math/aarch64/sve: Fix powf predicate logic.
  math/aarch64/sve/powf.c
Owners: @TamarChristinaArm

math/test: fix type mismatch warning on clang-20.
  math/test/c23_references.h
Owners: @TamarChristinaArm

math/aarch64/sve: Fix typo in powf.
  math/aarch64/sve/powf.c
Owners: @TamarChristinaArm

fp: add GNU-style comparison functions.
  fp/armv6-m/dcmp_gnu_cmp.S
  fp/armv6-m/dcmp_gnu_rcmp.S
  fp/armv6-m/fcmp_gnu_cmp.S
  fp/armv6-m/fcmp_gnu_rcmp.S
  fp/at32/dcmp_gnu_cmp.S
  fp/at32/dcmp_gnu_rcmp.S
  fp/at32/fcmp_gnu_cmp.S
  fp/at32/fcmp_gnu_rcmp.S
  fp/test/test-dcmp.c
  fp/test/test-fcmp.c
Owners: @TamarChristinaArm

math/aarch64/advsimd: Implement log10p1f.
  math/aarch64/advsimd/log10p1f.c
  math/include/mathlib.h
  math/test/c23_references.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
  math/tools/log10p1f.sollya
Owners: @TamarChristinaArm

math/aarch64/advsimd: Implement log10p1
  math/aarch64/advsimd/log10p1.c
  math/include/mathlib.h
  math/test/c23_references.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
  math/tools/log10p1.sollya
Owners: @TamarChristinaArm

math/aarch64/sve: Implement log10p1f.
  math/aarch64/sve/log10p1f.c
  math/include/mathlib.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

math/aarch64/sve: Implement log10p1.
  math/aarch64/sve/log10p1.c
  math/include/mathlib.h
  math/test/c23_references.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

math/aarch64/advsimd: prevent inlining in log2p1f and log10p1f
  math/aarch64/advsimd/log10p1f.c
  math/aarch64/advsimd/log2p1f.c
Owners: @TamarChristinaArm

aor: update apt packages on runners before trying to install
  .github/workflows/tests.yml
Owners: @TamarChristinaArm

math/aarch64/sve: Improve scalar callback
  math/aarch64/sve/sv_math.h
Owners: @TamarChristinaArm

math/aarch64/sve: Fix up sv_call[2]_f64
  math/aarch64/sve/sv_math.h
Owners: @TamarChristinaArm

math/aarch64/advsimd: Implement AdvSIMD rsqrtf
  math/aarch64/advsimd/rsqrtf.c
  math/include/mathlib.h
  math/test/c23_references.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

math/aarch64/advsimd: Implement AdvSIMD rsqrt
  math/aarch64/advsimd/rsqrt.c
  math/include/mathlib.h
  math/test/c23_references.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

math/aarch64/sve: Implement SVE rsqrtf
  math/aarch64/sve/rsqrtf.c
  math/include/mathlib.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

math/aarch64/sve: Implement SVE rsqrt
  math/aarch64/sve/rsqrt.c
  math/include/mathlib.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

math/aarch64/sve: Use fixed-size arrays for special-case buffer
  math/aarch64/sve/sv_math.h
Owners: @TamarChristinaArm

math/aarch64/sve: Update powf with new sv_call2 interface.
  math/aarch64/sve/powf.c
Owners: @TamarChristinaArm

math/aarch64/advsimd: Fix instability in tan and sinh
  math/aarch64/advsimd/sinh.c
  math/aarch64/advsimd/tan.c
Owners: @TamarChristinaArm

math/aarch64/sve: Fix scalar callback in pow
  math/aarch64/sve/pow.c
Owners: @TamarChristinaArm

math: Fix powf special case
  math/powf.c
  math/test/testcases/directed/powf.tst
Owners: @blapie, @joeramsay, @TamarChristinaArm

math/test: Improve rsqrt mpfr function
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

math/aarch64/sve: Improve pow specialcase
  math/aarch64/sve/pow.c
Owners: @TamarChristinaArm

CODEOWNERS:

* @TamarChristinaArm
fp/* @statham-arm
math/* @blapie @joeramsay
networking/* @WonderfulVoid
string/* @Wilco1
