Repository ARM-software/optimized-routines, changes with the owners that CODEOWNERS names for each.
All owners: @TamarChristinaArm, @statham-arm, @blapie, @joeramsay, @WonderfulVoid, @Wilco1

CODEOWNERS:

* @TamarChristinaArm
fp/* @statham-arm
math/* @blapie @joeramsay
networking/* @WonderfulVoid
string/* @Wilco1

math/aarch64/sve: Vectorise special case for acoshf
  math/aarch64/sve/acoshf.c
Owners: @TamarChristinaArm

math/aarch64/sve: Add inf and nan to struct in sv_log1pf_inline
  math/aarch64/sve/sv_log1pf_inline.h
Owners: @TamarChristinaArm

bench: Rename iteration constants
  string/bench/memcpy.c
  string/bench/memset.c
  string/bench/strlen.c
Owners: @TamarChristinaArm

string: Add SVE2 infrastructure
  string/include/benchlib.h
  string/include/stringlib.h
  string/test/memchr.c
  string/test/memcmp.c
  string/test/memcpy.c
  string/test/memmove.c
  string/test/memset.c
  string/test/stpcpy.c
  string/test/strchr.c
  string/test/strchrnul.c
  string/test/strcmp.c
  string/test/strcpy.c
  string/test/strlen.c
  string/test/strncmp.c
  string/test/strnlen.c
  string/test/strrchr.c
Owners: @TamarChristinaArm

math/aarch64/advsimd: Vectorise fp32 trig special cases
  math/aarch64/advsimd/cexpif.c
  math/aarch64/advsimd/cosf.c
  math/aarch64/advsimd/sincosf.c
  math/aarch64/advsimd/sinf.c
  math/aarch64/advsimd/v_sincosf_common.h
  math/aarch64/advsimd/v_trigf_fallback.h
  math/tools/sinf.sollya
  math/tools/trig_fallbackf.sollya
Owners: @TamarChristinaArm

math/aarch64/sve: Vectorise log1pf special case
  math/aarch64/sve/log1pf.c
Owners: @TamarChristinaArm

math/aarch64/sve: Vectorise log1p special case
  math/aarch64/sve/log1p.c
Owners: @TamarChristinaArm

string: SVE2 implementation for strchr
  string/aarch64/strchr-sve2.S
  string/aarch64/strchrnul-sve2.S
  string/include/stringlib.h
  string/test/strchr.c
  string/test/strchrnul.c
Owners: @TamarChristinaArm

math/aarch64/advsimd: Vectorise sin/cos/sincos/cexpi fallback
  math/aarch64/advsimd/cexpi.c
  math/aarch64/advsimd/cos.c
  math/aarch64/advsimd/sin.c
  math/aarch64/advsimd/sincos.c
  math/aarch64/advsimd/v_sincos_common.h
  math/aarch64/advsimd/v_trig_fallback.h
Owners: @TamarChristinaArm

math/aarch64/sve: Optimisations for sin/cos/sincos/cexpi
  math/aarch64/sve/cexpi.c
  math/aarch64/sve/cos.c
  math/aarch64/sve/sin.c
  math/aarch64/sve/sincos.c
  math/aarch64/sve/sv_sincos_common.h
Owners: @TamarChristinaArm

math/aarch64/sve: Vectorise sin/cos/sincos/cexpi fallback
  math/aarch64/sve/cexpi.c
  math/aarch64/sve/cos.c
  math/aarch64/sve/sin.c
  math/aarch64/sve/sincos.c
  math/aarch64/sve/sv_sincos_common.h
  math/aarch64/sve/sv_trig_fallback.h
Owners: @TamarChristinaArm

math/aarch64/sve: Optimisations for sinf/cosf/sincosf/cexpif
  math/aarch64/sve/cexpif.c
  math/aarch64/sve/cosf.c
  math/aarch64/sve/sincosf.c
  math/aarch64/sve/sinf.c
  math/aarch64/sve/sv_sincosf_common.h
Owners: @TamarChristinaArm

math/aarch64/sve: Vectorise fp32 sin/cos fallback
  math/aarch64/sve/cexpif.c
  math/aarch64/sve/cosf.c
  math/aarch64/sve/sincosf.c
  math/aarch64/sve/sinf.c
  math/aarch64/sve/sv_sincosf_common.h
  math/aarch64/sve/sv_trigf_fallback.h
Owners: @TamarChristinaArm

Add editorconfig and clang-format configuration files
  .clang-format
  .editorconfig
  networking/.clang-format
Owners: @TamarChristinaArm, @WonderfulVoid

Increase benchmark iterations.
  string/bench/memcpy.c
  string/bench/memset.c
  string/bench/strlen.c
Owners: @TamarChristinaArm

Add scalar __arm_sc_* implementations
  string/aarch64/memchr-scalar.S
  string/aarch64/memcpy.S
  string/aarch64/memset-scalar.S
  string/bench/memset.c
  string/include/stringlib.h
  string/test/memchr.c
  string/test/memset.c
Owners: @TamarChristinaArm

string: Add scalar __arm_sc_* implementations (#94)
  string/aarch64/memchr-scalar.S
  string/aarch64/memcpy.S
  string/aarch64/memset-scalar.S
  string/bench/memset.c
  string/include/stringlib.h
  string/test/memchr.c
  string/test/memset.c
Owners: @TamarChristinaArm

string: Fix __memchr_scalar
  string/aarch64/memchr-scalar.S
  string/test/memchr.c
Owners: @TamarChristinaArm

string: Improve __memchr_scalar
  string/aarch64/memchr-scalar.S
Owners: @TamarChristinaArm

math: Tidy up mathlib.h
  math/include/mathlib.h
Owners: @TamarChristinaArm

fp: fix underflow handling in ddiv.
  fp/at32/ddiv.S
  fp/test/test-ddiv.c
Owners: @TamarChristinaArm

math/aarch64/advsimd: Implement correctly rounded expf
  math/aarch64/advsimd/cr_expf.c
  math/include/mathlib.h
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

Upgrade GCC 14->16 and Clang 20 -> 22
  .github/workflows/tests.yml
  config.mk.dist
  math/test/testcases/directed/asinh.tst
  math/test/testcases/directed/atanh.tst
Owners: @TamarChristinaArm

Add editorconfig and clang-format configuration files
  .clang-format
  .editorconfig
Owners: @TamarChristinaArm

bench: Add strcmp benchmark
  string/Dir.mk
  string/bench/strcmp.c
Owners: @Wilco1, @TamarChristinaArm

math/aarch64/sve: Fix exponential special case bug
  math/aarch64/sve/exp.c
  math/aarch64/sve/exp10.c
  math/aarch64/sve/exp2.c
  math/aarch64/sve/expf.c
Owners: @TamarChristinaArm

string: Improve __memcpy_aarch64_sve
  string/aarch64/memcpy-sve.S
Owners: @TamarChristinaArm

string: Add a macro for SVE load
  string/aarch64/asmdefs.h
Owners: @TamarChristinaArm

string: SVE2 implementation for memchr
  string/aarch64/memchr-sve2.S
  string/include/stringlib.h
  string/test/memchr.c
Owners: @TamarChristinaArm

math/aarch64/advsimd: Implement Correctly Rounded exp2f and exp10f
  math/aarch64/advsimd/cr_exp10f.c
  math/aarch64/advsimd/cr_exp2f.c
  math/aarch64/advsimd/cr_expf_utils.h
  math/include/mathlib.h
  math/test/ulp.c
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

math/aarch64/advsimd: Vectorise tanf special case
  math/aarch64/advsimd/tanf.c
Owners: @TamarChristinaArm

string: Improve memset benchmark
  string/bench/memset.c
Owners: @TamarChristinaArm

string: Avoid size_t due to Windows
  string/bench/memset.c
Owners: @TamarChristinaArm

math/test: Add FP16 support to mathbench and ULP
  config.mk.dist
  math/Dir.mk
  math/aarch64/advsimd/expf16.c
  math/aarch64/advsimd/v_math.h
  math/aarch64/sve/expf16.c
  math/aarch64/sve/sv_math.h
  math/include/mathlib.h
  math/include/test_sig.h
  math/math_config.h
  math/test/mathbench.c
  math/test/mathbench_funcs.h
  math/test/ulp.c
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm, @blapie, @joeramsay

string: SVE2 implementation for strlen
  string/aarch64/strlen-sve2.S
  string/bench/strlen.c
  string/include/stringlib.h
  string/test/strlen.c
Owners: @TamarChristinaArm

math/aarch64/advsimd: Inline sincos_fallback manually into tanf
  math/aarch64/advsimd/tanf.c
Owners: @TamarChristinaArm

ci: switch to UCRT and turn on updating
  .github/workflows/tests.yml
Owners: @TamarChristinaArm

ci: use UCRT64 instead of UCRT
  .github/workflows/tests.yml
Owners: @TamarChristinaArm

ci: use new base for UCRT64 packages
  .github/workflows/tests.yml
Owners: @TamarChristinaArm
