Repository ARM-software/optimized-routines, changes with the owners that CODEOWNERS names for each.
All owners: @TamarChristinaArm, @statham-arm, @blapie, @joeramsay, @WonderfulVoid, @Wilco1

aor: Fix CI master badge
  README.md
Owners: @TamarChristinaArm

math/aarch64/advsimd: Implement exp2m1
  math/aarch64/advsimd/exp2m1.c
  math/include/mathlib.h
  math/test/c23_references.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

math/aarch64/advsimd: Fix exp2m1
  math/aarch64/advsimd/exp2m1.c
Owners: @TamarChristinaArm

math/aarch64: Fix AdvSIMD and SVE exp2m1f
  math/aarch64/advsimd/exp2m1f.c
  math/aarch64/sve/exp2m1f.c
Owners: @TamarChristinaArm

math/aarch64: Implement SVE exp2m1
  math/aarch64/sve/exp2m1.c
  math/include/mathlib.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
  math/tools/exp2m1.sollya
Owners: @TamarChristinaArm

math/aarch64: Implement SVE exp10m1
  math/aarch64/sve/exp10m1.c
  math/include/mathlib.h
  math/test/c23_references.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
  math/tools/exp10m1.sollya
Owners: @TamarChristinaArm

math/aarch64: Implement AdvSIMD exp10m1
  math/aarch64/advsimd/exp10m1.c
  math/include/mathlib.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
  math/tools/exp10m1.sollya
Owners: @TamarChristinaArm

math/aarch64: Implement AdvSIMD exp10m1f
  math/aarch64/advsimd/exp10m1f.c
  math/include/mathlib.h
  math/test/c23_references.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
  math/tools/exp10m1f.sollya
Owners: @TamarChristinaArm

math/aarch64: Implement SVE exp10m1f
  math/aarch64/sve/exp10m1f.c
  math/include/mathlib.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

math/test: Fix checks with MPFR as reference
  config.mk.dist
  math/test/ulp_funcs.h
Owners: @TamarChristinaArm

math/aarch64: Improve consistency across variants of exp2m1(f) and exp10m1(f).
  math/aarch64/advsimd/exp10m1.c
  math/aarch64/advsimd/exp10m1f.c
  math/aarch64/advsimd/exp2m1.c
  math/aarch64/advsimd/exp2m1f.c
  math/aarch64/sve/exp10m1.c
  math/aarch64/sve/exp10m1f.c
  math/aarch64/sve/exp2m1.c
  math/aarch64/sve/exp2m1f.c
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

math/aarch64/advsimd: Implements log2p1f.
  math/aarch64/advsimd/log2p1f.c
  math/include/mathlib.h
  math/test/c23_references.h
  math/test/mathbench_funcs.h
  math/test/ulp_funcs.h
  math/test/ulp_wrappers.h
  math/tools/log2p1f.sollya
Owners: @TamarChristinaArm

config: Enable -Werror
  config.mk.dist
  math/test/mathbench_wrappers.h
  math/test/mathtest.c
Owners: @TamarChristinaArm

config: Enable -Werror
  config.mk.dist
  math/test/c23_references.h
Owners: @TamarChristinaArm

config: Enable -Werror
  config.mk.dist
Owners: @TamarChristinaArm

config: Enable -Werror
  config.mk.dist
  math/test/c23_references.h
  math/test/mathbench_wrappers.h
  math/test/mathtest.c
Owners: @TamarChristinaArm

math/test: Fix MPFR wrapper for trigpis.
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

math/test: Improve libm and MPFR wrappers.
  math/test/c23_references.h
  math/test/ulp_wrappers.h
Owners: @TamarChristinaArm

fp: double-precision multiplication.
  fp/Dir.mk
  fp/at32/dmul.S
  fp/common/dnan2.c
  fp/common/dnorm2.c
  fp/common/dunder.c
  fp/test/test-dmul.c
Owners: @statham-arm, @TamarChristinaArm

fp: improve checking in test-fcmp.
  fp/test/test-fcmp.c
Owners: @TamarChristinaArm

f2lz, l2f: improved replacement for RSC in Thumb.
  fp/at32/f2lz.S
  fp/at32/l2f.S
Owners: @TamarChristinaArm

math/aarch64/advsimd: Minor codegen improvement log2p1f
  math/aarch64/advsimd/log2p1f.c
Owners: @TamarChristinaArm

Tidy up install target
  .github/workflows/tests.yml
  Makefile
  README.md
  math/Dir.mk
  networking/Dir.mk
  string/Dir.mk
Owners: @TamarChristinaArm, @blapie, @joeramsay, @WonderfulVoid, @Wilco1

math/: Minor fixups in README
  math/README.md
Owners: @blapie, @joeramsay

Fix link in greetings
  .github/workflows/greetings.yml
Owners: @TamarChristinaArm

asmdefs/aarch64: Make the definitions portable to COFF
  string/aarch64/asmdefs.h
Owners: @TamarChristinaArm

aor: Fix labeller permissions
  .github/workflows/labeler.yml
Owners: @TamarChristinaArm

aor: Enable CI for all pull requests
  .github/workflows/tests.yml
Owners: @TamarChristinaArm

aor: drop branch filters entirely
  .github/workflows/tests.yml
Owners: @TamarChristinaArm

aor: turn off SVE and EXP10 test on Windows
  config.mk.dist
Owners: @TamarChristinaArm

aor: Require winpthreads for timers
  .github/workflows/tests.yml
  config.mk.dist
Owners: @TamarChristinaArm

aor: fix exports on string functions on Windows
  string/aarch64/asmdefs.h
Owners: @TamarChristinaArm

aor: Include arm_sve.h before using an SVE type
  math/test/mathbench.c
Owners: @TamarChristinaArm

aor: Enable Windows CI with one compiler first
  .github/workflows/tests.yml
  Makefile
Owners: @TamarChristinaArm

aor: Require winpthreads for timers
  .github/workflows/tests.yml
  config.mk.dist
Owners: @TamarChristinaArm

aor: fix exports on string functions on Windows
  string/aarch64/asmdefs.h
Owners: @TamarChristinaArm

aor: Enable Windows CI with one compiler first
  .github/workflows/tests.yml
  Makefile
Owners: @TamarChristinaArm

aor: turn off SVE and EXP10 test on Windows
  config.mk.dist
Owners: @TamarChristinaArm

aor: Include arm_sve.h before using an SVE type
  math/test/mathbench.c
Owners: @TamarChristinaArm

v25.07 release
  README.md
Owners: @TamarChristinaArm

CODEOWNERS:

* @TamarChristinaArm
fp/* @statham-arm
math/* @blapie @joeramsay
networking/* @WonderfulVoid
string/* @Wilco1
